body {
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
}



#timer {
  font-size: 70px;
  color: orange;
}
.stopwatch-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stopwatch {
  display: flex;
  flex-direction: row;
}
.stopwatch button {
  height: 40px;
  width: 80px;
}
.twitter {
  background: #1b95e0;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  margin-left: 10px;
  padding: 1px 8px 1px 6px;
  vertical-align: bottom;
}
.chart_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @import url(https://fonts.googleapis.com/css?family=Exo+2:200i); */

:root {
  /* Base font size */
  font-size: 8px;

  /* Set neon color */
  --neon-text-color: rgb(22, 247, 89);
}
.weeklystudy{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 150px;
}
.weeklystudy p {
  font-size: 80px;
  font-style: italic;
  color: white;
  animation: flicker 2s infinite alternate;
}

/* Animate neon flicker */
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem black, 0.2rem 0.2rem 1rem black,
      0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color),
      0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color),
      0 0 10rem var(--neon-text-color);
  }
}

.weekly_buttoncontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#w_kiroku {
  height: 40px;
  width: 80px;
}
#w_reset {
  height: 40px;
  width: 80px;
}
.twitter {
  background: #1b95e0;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  margin-left: 10px;
  padding: 1px 8px 1px 6px;
  vertical-align: bottom;
}
/* 総勉強時間確認 */
.record-button {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: orange;
  padding: 10px;
  border: solid 1px;
  border-radius: 50%;
}
.record-button img{
  object-fit: cover;
  width: 100%;
}
#open{
  cursor: pointer;
}
#open.hide{
  display: none;
}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255,255,255,0.95);
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s;
  text-align: center;
  justify-content: center;
}
.overlay p{
  font-size: 16px;
}
.allstudyrecord{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  font-style: italic;
  color: orange;
}
.overlay.show{
  opacity: 1;
  pointer-events: auto;
}

/* スタートボタンを押している間の砂時計 */
.sand-watch{
  animation: kurukuru 10s infinite;
  width: 60px;
  height: 60px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: orange;
  padding: 10px;
  border: solid 1px;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
}
.sand-watch img{
  object-fit: cover;
  width: 100%;
}
@keyframes kurukuru {
  0%  {transform: rotate(0);}
  25% {transform: rotate(90deg);}
  50% {transform: rotate(180deg);}
  75%  {transform: rotate(90deg);}
  100%  {transform: rotate(0);}
}
#sand_watch.show{
  opacity: 1;
  pointer-events: auto;
}

